<template> 
    <div>
        <h3>Agregar Persona</h3>
        <form @submit.prevent="agregar" method="POST" action="/testa">
            <input type="text" placeholder="Ingrese el nombre" class="form-control mb-2" v-model="person.person_name">

            <input type="text" placeholder="Ingrese el email" class="form-control mb-2" v-model="person.person_email">

            <input type="text" placeholder="Ingrese el Asunto" class="form-control mb-2" v-model="person.person_subject">

            <input type="text" placeholder="Ingrese la Descripcion" class="form-control mb-2" v-model="person.person_description"> 

            <button class="btn btn-primary" type="submit">Enviar</button>

        </form>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                persons:[],
                person: {person_name: '', person_email: '', person_subject: '', person_description: ''}
            }
        },

        methods:{
            agregar(){
                if(this.person.person_name.trim()===''|| this.person.person_email.trim()===''){
                    alert('Debes llenar los campos');
                    return;
                }

                console.log(this.person.person_name, this.person.person_email);
                const params = {person_name: this.person.person_name, person_email: this.person.person_email, person_subject: this.person.person_subject, person_description:this.person.person_description}
                this.person.person_name = '';
                this.person.person_email = '';
                this.person.person_subject = '';
                this.person.person_description = '';
                
                axios.post('/testa',params)

                .then(res=>{
                    this.persons.push(res.data);
                })
            }
        }
    }
</script>
